<?xml version="1.0"?>
<robot name="manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="params" value="${load_yaml('../param/urdfparam.yaml')}"/>
    
    <xacro:property name="PI" value="3.14159265359"/>
    <xacro:property name="base_radius" value="0.1"/>
    <xacro:property name="base_height" value="0.1"/>
    <xacro:property name="dais_height" value="0.5"/>
    <xacro:property name="radius" value="0.08"/>

 
    <material name="blue">
        <color rgba="0 0 1 0.5"/>
    </material>
    <material name="green">
        <color rgba="0 1 0 0.5"/>
    </material>
    <material name="red">
        <color rgba="1 0 0 0.5"/>
    </material>
    <material name="white"> 
        <color rgba="1 1 1 0.5"/>
    </material>



    <link name="link_basea">
        <visual>
            <geometry>
                <cylinder length="${base_height}" radius="${base_radius}"/>
            </geometry>
            <material name="white"/>
            <origin xyz="0 0 ${base_height/2}"/>
        </visual>
    </link>
    <link name="link_baseb">
        <visual>
            <geometry>
                <cylinder length="${dais_height}" radius="${radius}"/>
            </geometry>
            <material name="white"/>
            <origin xyz="0 0 ${-dais_height/2}"/>
        </visual>
    </link>


    <link name="link_1">
        <visual>
            <geometry>
                <cylinder length="${params['i1']['len']}" radius="${radius}"/>
            </geometry>
            <material name="blue"/>
            <origin xyz="${params['i1']['len']/2} 0 0"/>
        </visual>
    </link>

    <link name="link_2a">
        <visual>
            <geometry>
                <cylinder length="${radius*2}" radius="${radius}"/>
            </geometry>
            <material name="green"/>
        </visual>
    </link>
    <link name="link_2b">
        <visual>
            <geometry>
                <cylinder length="${params['i2']['len']}" radius="${radius}"/>
            </geometry>
            <material name="green"/>
            <origin xyz="${params['i2']['len']/2} 0 0" rpy="0 ${PI/2} 0"/>
        </visual>
    </link>


    <link name="link_3a">
        <visual>
            <geometry>
                <cylinder length="${radius*2}" radius="${radius}"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>
    <link name="link_3b">
        <visual>
            <geometry>
                <cylinder length="${params['i3']['len']}" radius="${radius}"/>
            </geometry>
            <material name="red"/>
            <origin xyz="${params['i3']['len']/2} 0 0" rpy="0 ${PI/2} 0"/>
        </visual>
    </link>




    <joint name="basea_to_baseb" type="fixed">
        <parent link="link_basea"/>
        <child link="link_baseb"/>
        <origin xyz="0 0 ${base_height + dais_height}"/>
    </joint>

    <joint name="base_to_link1" type="fixed">
        <parent link="link_baseb"/>
        <child link="link_1"/>
        <origin xyz="${params['i1']['xyz']}" rpy="${params['i1']['rpy']}"/>
    </joint>

    <joint name="link1_to_link2a" type="fixed">
        <parent link="link_1"/>
        <child link="link_2a"/>
        <origin  rpy="${params['i2']['rpy']}"/>
    </joint>
    <joint name="link2a_to_link2b" type="fixed">
        <parent link="link_2a"/>
        <child link="link_2b"/>
    </joint>

    <joint name="link2b_to_link3a" type="fixed">
        <parent link="link_2b"/>
        <child link="link_3a"/>
        <origin xyz="${params['i3']['xyz']}" rpy="${params['i3']['rpy']}"/>
    </joint>
    <joint name="link3a_to_link3b" type="fixed">
        <parent link="link_3a"/>
        <child link="link_3b"/>
    </joint>

</robot>